---
import EnvelopeIcon from 'astro-heroicons/outline/Envelope.astro';
import PhoneIcon from 'astro-heroicons/outline/Phone.astro';
import Layout from '../layouts/Layout.astro';

const fullName = "Léa Kormas"
const id = "OA1132"
const tagLine = "Ostéopathe Animalier"
const phone = "07 61 45 06 73"
const email = "leakormas.osteo@gmail.com"
const facebook = "https://www.facebook.com/people/Ost%C3%A9opathe-Animalier-Savoie-L%C3%A9a-Kormas-OA-1132/100087652673371/"
---

<Layout title="Léa Kormas - Ostéopathe Animalier Savoie" description="Ostéopathe Animalier à Chambéry en Savoie.">
	<main class="" id="accueil">
		<!-- Intro -->
		<section class="max-w-[1020px] w-full m-auto px-12 py-16">
			<div class="flex items-center gap-8 md:gap-16 my-12">
				<img src="/lea-kormas/logo-wood-2864.webp" alt="Léa Kormas logo" class="w-32 sm:w-40 md:w-60" />
				<div>
					<h1 class="font-heading text-4xl md:text-8xl text-wood-700">{fullName}</h1>
					<p class="font-heading text-2xl md:text-4xl">{tagLine}</p>
				</div>
			</div>
			<p class="text-lg md:text-2xl text-center mt-20"><em class="text-wood-700 not-italic">Ostéopathe animalier</em> basée à <em class="text-wood-700 not-italic">Chambéry</em>, disponible sur toute la <em class="text-wood-700 not-italic">Savoie</em>.</p>
		</section>

		<!-- When & why -->
		<section class="max-w-[1020px] w-full m-auto px-12 py-16" id="prestations">
			<h2 class="font-heading text-wood-700 text-3xl md:text-5xl mb-8">Quand et pourquoi ?</h2>

			<h3 class="font-heading text-2xl md:text-3xl mb-12">Motifs de consultation - Pour tous les animaux</h3>
			<div class="columns-1 sm:columns-2 md:columns-3 gap-4 mb-12">
				<div class="bg-wood-200 rounded-lg p-4 text-center break-inside-avoid">
					<h4 class="font-heading text-lg uppercase tracking-wider font-bold mb-6">Troubles locomoteurs</h4>
					<ul class="text-slate-400 italic">
						<li>Boiterie</li>
						<li>Allure irrégulière</li>
						<li>Démarche asymétrique</li>
						<li>Asymétrie musculaire</li>
						<li>Défaut d'aplombs</li>
						<li>Douleur dorsale</li>
						<li>Post-traumatisme/accident</li>
						<li>Suivi de croissance</li>
						<li>Post-opératoire</li>
						<li>Sportif</li>
					</ul>
				</div>
				<img src="/lea-kormas/gray-horse.webp" alt="Léa Kormas massant la croupe d'un cheval" class="rounded-lg break-inside-avoid mt-4" />
				<div class="bg-wood-200 rounded-lg p-4 text-center break-inside-avoid mt-4">
					<h4 class="font-heading text-lg uppercase tracking-wider font-bold mb-6">Collaborations vétérinaires</h4>
					<ul class="text-slate-400 italic">
						<li>Arthrose</li>
						<li>Entorse</li>
						<li>Tendinite</li>
						<li>Ataxie</li>
					</ul>
				</div>
				<img src="/lea-kormas/dog.webp" alt="Léa Kormas traitant les pattes d'un chien" class="rounded-lg break-inside-avoid mt-4" />
				<div class="bg-wood-200 rounded-lg p-4 text-center break-inside-avoid mt-4">
					<h4 class="font-heading text-lg uppercase tracking-wider font-bold mb-6">Changements de comportements</h4>
					<ul class="text-slate-400 italic">
						<li>Animal prostré</li>
						<li>Inhabituellement calme</li>
					</ul>
				</div>
				<img src="/lea-kormas/brown-horse.webp" alt="Léa Kormas travaillant le genou d'un cheval" class="rounded-lg break-inside-avoid mt-4" />
				<div class="bg-wood-200 rounded-lg p-4 text-center break-inside-avoid mt-4">
					<h4 class="font-heading text-lg uppercase tracking-wider font-bold mb-6">Troubles chroniques</h4>
					<ul class="text-slate-400 italic">
						<li>Affections digestives</li>
						<li>Affections respiratoires</li>
						<li>Affections uro-génitales</li>
						<li>Infertilité inexpliquée</li>
					</ul>
				</div>
			</div>
			<h3 class="font-heading text-2xl md:text-3xl mb-12">Motifs de consultation - Spécifiques selon les espèces</h3>
			<div class="grid grid-cols-1 gap-12 md:grid-cols-3 md:gap-4">
				<div class="flex flex-col text-center">
					<h4 class="font-heading text-lg uppercase font-bold tracking-wider">Cheval</h4>
					<img src="/lea-kormas/brown-horse-2.webp" alt="Léa Kormas étirant la patte d'un cheval" class="w-48 mx-auto my-4 rounded-3xl" />
					<ul class="text-slate-400 italic">
						<li>Difficultés à donner les pieds</li>
						<li>Difficultés au travail</li>
						<li>Problème de succion</li>
						<li>Retour en chaleurs tardif</li>
						<li>Post-mise bas</li>
					</ul>
				</div>
				<div class="flex flex-col text-center">
					<h4 class="font-heading text-lg uppercase font-bold tracking-wider">Chien / Chat</h4>
					<img src="/lea-kormas/cat.webp" alt="Léa Kormas caressant un chat" class="w-48 mx-auto my-4 rounded-3xl" />
					<ul class="text-slate-400 italic">
						<li>Difficultés à se lever</li>
						<li>Difficultés à sauter</li>
						<li>Post-mise bas</li>
						<li>Dysplasie</li>
						<li>Hernie discale</li>
						<li>AVC</li>
						<li>Épilepsie</li>
					</ul>
				</div>
				<div class="flex flex-col text-center">
					<h4 class="font-heading text-lg uppercase font-bold tracking-wider">Vache</h4>
					<img src="/lea-kormas/cow.webp" alt="Léa Kormas massant la tête d'une vache" class="w-48 mx-auto my-4 rounded-3xl" />
					<ul class="text-slate-400 italic">
						<li>Vache couchée</li>
						<li>Baisse de production laitière</li>
						<li>Retour en chaleurs tardif</li>
						<li>Post-mise bas</li>
						<li>Problème de succion</li>
						<li>Suivi de troupeau</li>
					</ul>
				</div>
			</div>
		</section>

		<!-- Definition -->
		<section class="px-12 py-16 bg-wood-700">
			<blockquote class="max-w-[1020px] w-full mx-auto font-heading text-wood-200 border-4 border-wood-500 p-4 md:p-8 rounded relative before:content-['«'] before:text-wood-200 before:text-8xl md:before:text-9xl before:absolute before:-left-10 md:before:-left-14 before:-top-6">
				<p class="text-lg md:text-xl">
					On entend par <span class="italic">"acte d'ostéopathie animale"</span> les manipulations ayant pour seul but de
					prévenir ou de traiter des troubles fonctionnels du corps de l'animal, à l'exclusion des pathologies organiques qui nécessitent une intervention thérapeutique, médicale,
					chirurgicale, médicamenteuse ou par agents physiques.
				</p>
			</blockquote>
		</section>

		<!-- News -->
		<section class="max-w-[1020px] w-full m-auto px-12 py-16" id="actualite">
			<h2 class="font-heading text-wood-700 text-3xl md:text-5xl mb-16">Mon actualité</h2>

			<p class="text-lg md:text-xl">
				Retrouvez mon actualité sur ma <a href={facebook} class="font-bold underline hover:text-wood-600">page Facebook</a> !
			</p>
		</section>

		<!-- Contact -->
		<section class="max-w-[1020px] w-full m-auto px-12 py-16" id="contact">
			<h2 class="font-heading text-wood-700 text-3xl md:text-5xl mb-16">Prendre rendez-vous</h2>

			<div class="flex flex-col gap-8 md:flex-row justify-between items-center">
				<div class="text-lg text-center ">
					<p class="text-2xl font-heading font-bold text-wood-700">{fullName}</p>
					<p><span class="italic">{tagLine}</span> - {id}</p>
					<p><PhoneIcon class="w-5 inline-block mr-2 text-slate-400" /><a href=`tel:${phone}`>{phone}</a></p>
					<p><EnvelopeIcon class="w-5 inline-block mr-2 text-slate-400" /><a href=`mailto:${email}`>{email}</a></p>
					<p><a href={facebook} class="font-bold underline hover:text-wood-600">Facebook</a></p>
					<p class="mt-6">Du lundi au vendredi, de 8h à 20h.</p>
				</div>

				<img src="/lea-kormas/logo-wood-2864.webp" alt="Léa Kormas logo" class="w-32 sm:w-40 md:w-60" />
			</div>
		</section>
	</main>
</Layout>
